// Placeholder to allow defining custom styles that override everything else.
// (Use `_sass/minima/custom-variables.scss` to override variable defaults)
.button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    color: #ffffff;
    background-color: #8702bb;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #8702bb5a;
  }

  .button:visited {
    color: #ffffff;
  }

// green button
.button-green {
    background-color: #077307;
  }
  
  .button-green:hover {
    background-color: #07730773;
  }

  .button-green:visited {
    color: #ffffff;
  }